html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  display: block;
}

.image {
  margin: 12.5px;
  max-width: 50px;
  height: 50px;
  /* background-color: #13A0E4; */
}

.navigation {
  background-color: #13a0e4;
  height: 75px;
  display: inline-flex;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 0;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.header {
  display: inline-flex;
  margin: auto 20px;
  text-align: center;
  color: white;
  width: calc(100vw - 75px);
}

h2 {
  font-weight: normal;
  text-transform: capitalize;
  text-align: center;
  font-size: 2.5vw;
  margin: 40px;
  color: rgb(0, 0, 0);
}

.instructions {
  text-align: center;
  font-size: 1.4rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

@media (max-width: 980px) {
  .instructions {
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

input {
  align-content: center;
  padding-top: 20px;
  padding-left: 72px;
}

.inputDiv {
  text-align: center;
  margin-left: 10rem;
  margin-right: 10rem;
}

.reshuffle {
  background-color: #13a0e4;
  border: none;
  color: white;
  padding: 15px 3rem;
  text-align: center;
  font-weight: bold;
}

.reshuffle:hover {
  background-color: #55bcf0;
  border: none;
  color: white;
  padding: 15px 3rem;
  text-align: center;
  font-weight: bold;
}

.reshuffle:active {
  background-color: #13a0e4;
  border: none;
  color: white;
  padding: 15px 3rem;
  text-align: center;
  font-weight: bold;
}

#resultTable {
  text-align: center;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 1px solid #7f7f7f;
  margin: auto;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

footer {
  position: absolute;
  text-align: center;
  color: white;
  background: #13a0e4;
  bottom: 0;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #13a0e4;
  color: white;
}
